/* 基本設定 */
body {
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    margin: 0;
}

/* ヘッダー */
header {
    background-color: #000;
    color: #fff;
    padding: 15px 20px;
    font-weight: bold;
    font-size: 20px;
}
.btn-logout{
    background: none;
    color:#fff;
    border: none;
}
.header-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-bar {
    flex-grow: 1;
    margin-right: 40px;
}
.search-bar input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.btn-nav{
    color: #fff;
    margin-left: 20px;
    font-size: 14px;
    margin-right: 10px;
    background: none;
    border: none;
    cursor: pointer;
}
.btn-exhibit {
    background-color: #fff;
    color: #333;
    padding: 8px 20px;
    border-radius: 4px;
    text-decoration: none;
}

.hamburger{
  display:none;
}
.header-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 850px){
/*ハンバーガーここから*/
.hamburger {
    display: block;
    position: absolute;
    left:32px;
    cursor: pointer;
    width: 32px;
    height: 24px;
    z-index: 10;
}
.hamburger span {
    /*3本の線を作る*/
    transition: all .3s;
    position: absolute;
    height: 2px;
    background-color:#fff;
    width:100%;
    z-index: 10;
}
.hamburger span:nth-of-type(1) {
    /*上の線の位置*/
    top: 4px;
}
.hamburger span:nth-of-type(2) {
    /*真ん中の線の位置*/
    top: 12px;
}
.hamburger span:nth-of-type(3) {
    /*下の線の位置*/
    top: 20px;
}
.hamburger.open span:nth-of-type(1) {
    /*openのとき、上の線を右斜めにする*/
    top: 10px;
    transform: translateY(6px) rotate(-33deg);
}
.hamburger.open span:nth-of-type(2) {
    /*真ん中の線を消す*/
    opacity: 0;
}
.hamburger.open span:nth-of-type(3) {
    /*下の線を左斜めにする*/
    top: 22px;
    transform: translateY(-6px) rotate(33deg);
}
#header-menu{
    height: 0;
    margin-top: 10px;
    overflow: hidden;
}
.header-logo{
    margin-top: 5px;
    display: inline;
    margin-left: 10%;
}
.header-box{
    margin-top: 5px;
    display: inline;
}
}